@import "tailwindcss";


/* Hide scrollbars but keep scrolling enabled */
.no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  /* Chrome/Safari/WebKit */
  display: none;
}

/* Global reset for near pixel-perfect layout in row mode */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

